@import "common/foundation/variables";

.headerLink {
  list-style: none;
  a {
    padding: 6px 10px;
    color: $primary;
    font-size: $font-up-1;
  }
}

img.headerImageLink {
    height: 1.8em;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
  .header-buttons {
    display: flex;
    align-items: center;
  }
}
.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}